.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  &__section {
    width: calc(50% - 30px);
    &-title {
      font-weight: 700;
      font-size: 28px;
      color: var(--text-primary);
      margin-bottom: 40px;
      @media (max-width: 740px) {
        font-size: 24px;
      }
      @media (max-width: 570px) {
        font-size: 20px;
      }
      @media (max-width: 495px) {
        font-size: 18px;
      }
    }

    @media (max-width: 940px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.text-box {
  min-height: 65px;
  width: 100%;
  padding: 20px 25px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-regular);
  color: var(--default-color);
  border-radius: 8px;
  border-left: 10px solid #2c2b2c;
  box-shadow:
    0 1.7px 1px rgba(0, 0, 0, 0.07),
    0 2.8px 2.4px rgba(0, 0, 0, 0.07),
    0 3.5px 4.4px rgba(0, 0, 0, 0.069),
    0 4.1px 7.2px rgba(0, 0, 0, 0.067),
    0 4.6px 11.2px rgba(0, 0, 0, 0.064),
    0 5.5px 17px rgba(0, 0, 0, 0.057),
    0 7.1px 26.1px rgba(0, 0, 0, 0.047),
    0 10px 40px rgba(0, 0, 0, 0.03)
  ;
}
