.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 24px;
  }
}

.toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  width: 250px;
}
