@use './assets/styles/reset.scss';
@use './assets/styles/vars.scss';
@use './assets/styles/toggle.scss';
@use './assets/styles/input.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
