.input-group {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--default-color);
  border-radius: 8px;
  box-shadow:
    0 1.7px 1px rgba(0, 0, 0, 0.07),
    0 2.8px 2.4px rgba(0, 0, 0, 0.07),
    0 3.5px 4.4px rgba(0, 0, 0, 0.069),
    0 4.1px 7.2px rgba(0, 0, 0, 0.067),
    0 4.6px 11.2px rgba(0, 0, 0, 0.064),
    0 5.5px 17px rgba(0, 0, 0, 0.057),
    0 7.1px 26.1px rgba(0, 0, 0, 0.047),
    0 10px 40px rgba(0, 0, 0, 0.03)
  ;

  &__input {
    min-height: 65px;
    width: 100%;
    color: var(--neutral-main);
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 15px 10px;

    &:focus + .input-group__placeholder::before {
      top: 15px;
      transform: translateY(-50%) scale(.8);
      color: var(--neutral-secondary);
    }
  }

  &__placeholder::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 10px;
    font-weight: 500;
    color: var(--neutral-main);
    transform: translateY(-50%) scale(1);
    transform-origin: left;
    transition: all .2s linear;
    z-index: 1;
  }

  &.focus > &__placeholder::before {
    top: 15px;
    transform: translateY(-50%) scale(.8);
    color: var(--neutral-secondary);
  }

  // & > i {
  //   font-size: 14px;
  //   color: var(--neutral-secondary);
  // }
}
