.tgl {
  display: none;

  &::selection {
    background: none;
  }

	& + .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-ios {
	& + .tgl-btn {
		background: var(--default-color);
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid var(--neutral-placeholder);
		&:after {
			border-radius: 2em;
			background: var(--default-color);
			transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
		}

    &:hover:after {
      will-change: padding;
    }

		&:active {
			box-shadow: inset 0 0 0 2em var(--neutral-placeholder);
			&:after {
				padding-right: .8em;
			}
		}
	}

	&:checked + .tgl-btn {
    background: var(--neutral-extra);
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
	}
}
