:root {
  --default-color: #fff;

  --base: #dcdfe6;
  --light: #e4e7ed;
  --lighter: #ebeef5;
  --lightex: #f2f6fc;

  // -------------------------------

  --neutral-main: #232425;
  --neutral-primary: #303133;
  --neutral-regular: #606266;
  --neutral-secondary: #909399;
  --neutral-placeholder: #c0c4cc;
}
